<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Склад_БД.My.MySettings.СкладConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Склад.mdb"
            providerName="System.Data.OleDb" />
        <add name="Склад_БД.My.MySettings.СкладConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Склад.mdb"
            providerName="System.Data.OleDb" />
        <add name="Склад_БД.My.MySettings.СкладConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Denis\Desktop\Склад\Склад.mdb"
            providerName="System.Data.OleDb" />
        <add name="Склад_БД.My.MySettings.СкладConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\Склад.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>